/*
	Imports
	------------------------------------------------
*/
@import "base/variables";     // variables
@import "base/mixin";         // Mixin
@import "base/placeholders";  // Placeholders
@import "base/fonticons";     // font icons
@import "base/wordpress";     // Wordpress Default Classes

@import 'admin/sidebar';		//admin classes

/*
	Generic
	------------------------------------------------
*/
body { font-family: $body-font; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: greyscale;
  &.no-scroll {
    overflow-y: hidden;
  }
}

a { color: $primary-color; @include animate( color, 320ms );
  &:hover,
  &:focus { text-decoration: none; color: $dark-grey; }
}

.background-image { background-position: center center; background-size: cover; background-repeat: no-repeat; }

.table { display: table; width: 100%; height: 100%;
  .table-cell { display: table-cell; width: 100%; height: 100%; vertical-align: middle; }
}

.responsive-image { width: 100%; height: 100%; }
.dark-blue { color: $dark-blue; }
.brown { color: $brown; }
.less-dark-blue { color: $less-dark-blue; }
.green { color: $green; }
.light-orange { color: $light-orange; }
.pink { color: $pink; }
.bg-dark-blue { background: $dark-blue !important; }
.bg-brown { background: $brown !important; }
.bg-less-dark-blue { background: $less-dark-blue !important; }
.bg-green { background: $green !important; }
.bg-light-orange { background: $light-orange !important; }
.bg-pink { background: $pink !important; }

/*
	Header
	------------------------------------------------
*/
//.header-container { @extend %text-shadow; position: relative; display: block; height: 326px;
//
//  @media (max-width: $xs) {
//    height: 200px;
//  }
//}
//
//.site-title { color: #fff; margin: 0; font-size: 80px; }
//.site-description { font-size: 14px; color: #fff; margin-top: 1em; }
//
//.nav-container { position: absolute; bottom: 0; left: 0; right: 0; }

/*
	Nav Bar
	------------------------------------------------
*/
.custom-navbar {
  background-color: $dark-blue;
  .navbar-sunset {
    li {
      position: relative;
      padding: .8rem 1rem;
      &.active {
        a {
          &:after { @include transform( translateY(0) ); }
        }
      }
      &.open {
        a { opacity: 1; background-color: rgba(0,0,0,0.1)!important;
          &:after { @include transform( translateY(10px) ); opacity: 0!important; }
          &:hover,
          &:focus,
          &:visited { background-color: rgba(0,0,0,0.1)!important;
            &:after { @include transform( translateY(10px) ); opacity: 0!important; }
          }
        }
      }
      a { text-transform: uppercase; color: $dark-white; font-size: 12px;; letter-spacing: 0.05em; background: none; @include animate( opacity, 320ms );
        &:hover,
        &:focus,
        &:visited {
          &:after { @include transform( translateY(0) ); opacity: 1; }
        }
        &:after { content: ''; position: absolute; display: block; left: 15px; right: 15px; bottom: 14px; height: 2px; background: #fff; @include animate( all, 320ms ); opacity: 0; @include transform( translateY(10px) ); }
        &.dropdown-toggle {
          &:after { display: none; }
        }
      }
      &.dropdown:hover {
        .dropdown-menu { opacity: 1; display: block; @include animate( opacity, 700ms ); }
      }
      ul.dropdown-menu { display: none;
        opacity: 0; border: 0; border-radius: 0; background: rgba(0,0,0,0.75);
        li { display: block;
          a {
            &:hover,
            &:focus,
            &:visited { background: rgba(0,0,0,0.25)!important; color: #fff; }
          }
        }
      }
    }
  }
}

/*
	Front Page
	------------------------------------------------
*/
.home-page {
  article.live-video {
    background: url("../img/Home-slider.png") center no-repeat;
    background-size: cover;
    color: $dark-white;
    min-height: 45vh;
    .live-video-desc {
      border: 1px solid rgb(220 220 222 / 32%);
      padding: 20px;
      p {
        font-size: 2rem;
        margin-bottom: 0;
        a { color : $dark-white;
          &:hover, &:focus { color: #fff; }
        }
      }
      .register-button {
        text-align: right;
        border-top: 1px solid rgb(220 220 222 / 32%);
        position: relative;
        bottom: 0;
        left: 0;
        border-right: 1px solid rgb(220 220 222 / 32%);
        padding: 20px 20px 0 0;
        a {
          color: $dark-white !important;
          font-size: 1.5rem;
          font-weight: lighter;
          &.llms-button-primary {
            background: unset;
            outline: none;
          }
          &:hover, &:focus {
            color: #fff !important;
            & + span { opacity: .9;}
          }
        }
        span {
          margin-left: 20px;
          border: 1px solid;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          color: #fff;
          line-height: 30px;
          background: rgb(255 255 255 / 15%);
          opacity: .5;
        }
      }
    }
    .live-video-image {
      display: inline-block;
      width: 200px;
      height: 200px;
    }
    .flashOpacity {
        animation-name: flashOpacity;
        animation-duration: 2500ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: reverse;
    }
  }
  article.what-we-do {
    padding-top: 80px;
    .content-desc { font-size: 1.1rem; letter-spacing: .05rem; }
    .video-player-icon { height: 150px; width: 150px; }
    .content-icon-item { width: 50px; height: 50px; margin-bottom: 15px; }
    h5 { font-weight: 600; }
    .content-small-desc { font-size: .9rem; color: #b8b8bb; }
  }
  article.believe-us {
    .number { display: block; font-size: 6rem; font-weight: bolder; }
    .event-name { letter-spacing: 0.1rem; text-transform: uppercase; font-size: .7rem; }
  }
  article.power-meditation {
    height: 800px;
    padding-bottom: 0;
    position: relative;
    .power-top-box { height: 70%; }
    .power-bottom-box { height: 30%; background: $dark-blue; }
    .parent-content-box {
      position: absolute;
      top: 40px;
      bottom: 0;
      left: 0;
      right: 0;
      .row { outline: none; }
      .content-box {
        background: $less-dark-blue;
        height: 700px;
        width: 90%;
        margin: 0 auto;
        position: relative;
        .content-top {
          color: #fff;
          padding: 7rem;
          .excerpt-content, p {
            line-height: 2;
            letter-spacing: .05rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
          }
          .learn-more-link {
            display: block;
            padding: 10px 15px;
            background: $pink;
            width: 25%;
            text-align: center;
            font-size: .7rem;
            border-radius: 20px;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: .2rem;
            &:hover { background: #f82776; color: $dark-white; }
          }
        }
        .content-image {
          width: 40%;
          position: absolute;
          top: 15%;
          right: -22%;
          height: 70%;
        }
      }
    }
  }
  article.our-services {
    background: $dark-blue;
    color: #fff;
    h6 { text-transform: uppercase; }
    p { margin-bottom: 2rem; }
    .content-service {
      .service-box {
        border: 2px solid $brown;
        padding: 10px 15px 30px;
        border-bottom: 1px solid rgba(220, 220, 222, 0.14);
      }
      ul li { font-size: .9rem; }
    }
    .volunteer-group {
      position: relative;
      img {
        position: absolute;
        top: 0;
        height: 100%;
        width: inherit;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-filter: brightness(0.2);
        filter: brightness(0.2);
      }
      .volunteer-group-container { position: relative;
        h3 { text-transform: uppercase; }
      }
    }
  }
  article.meditation {
    .meditation-video {
      background: $dark-blue;
      &.freeLesson {
        background: $dark-green;
        .meditation-div-title {
          .meditation-title { color: rgb(184 255 226); }
          .meditation-shadow-title { color: rgb(142 180 165 / 56%); }
        }
        .meditation-play {
          background: url(../img/green_play.png) center center no-repeat;
          background-size: contain;
        }
      }
      img { width: 70px; height: 70px; }
      .meditation-div-title {
        vertical-align: middle;
        margin-left: 1rem;
        .meditation-title { color: $light-orange; }
        .meditation-shadow-title { color: rgb(203 97 20 / 56%); }
        .meditation-title, .meditation-shadow-title { font-size: 1.7rem; }
      }
      .meditation-play {
        display: inline-block;
        width: 55px;
        height: 55px;
        background: url(../img/orange_play.png) center center no-repeat;
        background-size: contain;
      }
      &:hover, &:focus, &:visited {
        .meditation-div-title {
          .meditation-title { color : #fff; @include animate( all, 700ms ) }
        }
      }
    }
    .full-sessions {
      padding: 1.5rem;
      margin-top: 4rem;
      text-align: right;
      border-top: 2px solid #555;
      border-right: 2px solid #999;
      border-bottom: 1px solid #aaa;
      border-left: 0;
      a { font-size: 1.5rem;
        &:hover, &:focus {
          color: $dark-white;
          & + span { color: #000; }
        }
      }
      span {
        color: #fff;
        border-radius: 50px;
        width: 30px;
        height: 30px;
        background: #DCDCDE;
        line-height: 30px;
        margin-left: 10px;
      }
    }
  }
  article.our-courses {
    background: $dark-white;
    .courses-carousel {
      .slick-track { width: 100% !important; }
      .courses-box {
        .card-img-top { height: 200px; }
        h4:hover {
          a { color: $dark-white; }
        }
      }
      .slick-dots {
        bottom: -40px;
        li {
          button:before { color: #fff; }
          &.slick-active {
            button:before { font-size: 13px; }
          }
        }
      }
    }
  }

  // GROUPING
  article.live-video,
  article.what-we-do,
  article.believe-us,
  article.power-meditation,
  article.our-services,
  article.our-courses {
    .intro { color: $pink; text-transform: uppercase; font-size: .6rem; letter-spacing: .2rem; display: block; }
    h3 { letter-spacing: .1rem; font-weight: 600; }
  }
  article.what-we-do,
  article.our-services {
    .content-icon-item { width: 50px; height: 50px; margin-bottom: 15px; }
  }
}


/*
	Standard Post Format
	------------------------------------------------
*/
article { padding-top: 40px; padding-bottom: 40px;
  @media (max-width: $xs) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

h1 { font-size: 48px; font-weight: 200;
  a { color: $primary-color; }
  &.entry-title { line-height: 1.5em; margin: 0; padding: 0;
    &:before, &:after { content: '~'; display: inline-block; position: relative; }
    &:before { margin-right: 10px; }
    &:after { margin-left: 10px; }
  }
  @media (max-width: $xs) {
    font-size: 26px;
  }
}
.entry-meta { font-size: 13px; font-weight: 300; color: $light-grey; margin-bottom: 20px;
  a { font-weight: 500; color: $light-grey;
    &:hover,
    &:focus { color: $dark-grey; }
  }
}

.standard-featured-link { display: block; position: relative;
  &:hover,
  &:focus {
    .standard-featured {
      &:after { background-color: rgba(0,0,0,0); }
    }
  }
}
.standard-featured { height: 330px; display: block; position: relative;
  &:after { @include animate( background-color, 320ms ); content: ''; position: absolute; display: block; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0,0,0,0.15); box-shadow: inset 0 0 15px rgba(0,0,0,0.35); }

  @media (max-width: $xs) {
    height: 220px;
  }
}

.entry-excerpt { margin: 30px 0 16px;
  p { font-size: 17px; line-height: 1.5em; font-weight: 300; letter-spacing: 0.02em; }
}

.button-container { margin-bottom: 30px; }
.btn-sunset { @include animate( all, 320ms ); text-transform: uppercase; font-size: 14px; font-weight: 300; color: $light-grey; padding: 8px 12px; border-radius: 0; border: 1px solid $light-grey; background-color: transparent;
  &:hover,
  &:focus { color: #ffffff; border-color: $dark-grey; background-color: $dark-grey; }
}

.entry-footer { padding: 10px 5px; border-bottom: 4px solid $lighter-grey; color: $light-grey; text-transform: uppercase;
  a { color: $light-grey; display: inline-block; font-size: 12px;
    &:hover,
    &:focus { color: $dark-grey; }
  }
  .tags-list {
    .sunset-icon { margin-right: 10px; }
    a { padding: 0 4px; }
  }
  .comments-link {
    .sunset-icon { margin-left: 10px; }
  }
}


/*Pagination Section*/
.pagination_number span,
.pagination_number a {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  background: #eee;
}
.pagination_number a {
  color: #45a9b7;
}
.pagination_number span {
  color: #394240
}
.pagination_number a:hover {
  text-decoration: none;
  color: $orange
}
/*End Pagination Section*/


/*
	Image Post Format
	------------------------------------------------
*/
.sunset-format-image {
  .entry-header { height: 600px; @extend %text-shadow; position: relative; }
  h1,
  .entry-meta,
  .entry-header { color: #ffffff;
    a { color: #ffffff; }
  }
  h1 { padding-top: 10px; }
}
.entry-excerpt {
  &.image-caption { @extend %background-gradient; position: absolute; left: 0; bottom: 0; right: 0; margin: 0;
    p { margin: 40px 0; }
  }
}

/*
    Audio Post Format
    -------------------------------------------------
 */
.sunset-format-audio {
  h1 { font-size: 30px;
    &.entry-title { display: inline-block; margin-right: 20px;
      &:before, &:after { display: none; }
    }
  }
  .entry-meta { display: inline-block; margin-bottom: 0; }
  .entry-content {
    iframe { width: 100%; height: 166px}
  }
}

/*
    Video Post Format
    -------------------------------------------------
 */
.sunset-format-video {
  h1 {
    &.entry-title { margin-top: 20px; }
  }
}


/*
	Gallery Post Format
	------------------------------------------------
*/
.sunset-format-gallery {
  header {
    h1 {
      &.entry-title { margin-top: 20px; }
    }
  }
  .standard-featured { height: 500px; color: #ffffff;
    &:after { background-color: transparent; }

    @media (max-width: $xs) {
      height: 220px;
    }
  }

  .carousel-control { background: none; background-image: none; opacity: 1; filter: alpha(opacity=100); font-size: 30px; width: auto; @extend %text-shadow;
    .preview-container { position: relative; display: block; padding: 20px; background-color: rgba(0,0,0,0); line-height: 0; @include animate( background-color, 320ms );
      .thumbnail-container { position: absolute; display: block; height: 68px; width: 68px; border-radius: 50%; background: #999;  top: 1px; @include animate( transform, 320ms ); @include transform( scale(0) ); }
    }

    &.right {
      .preview-container { padding-left: 80px; border-radius: 35.5px 0 0 35.5px;
        .thumbnail-container { left: 1px; }
      }
    }
    &.left {
      .preview-container { padding-right: 80px; border-radius: 0 35.5px 35.5px 0;
        .thumbnail-container { right: 1px; }
      }
    }

    &:hover {
      .preview-container { background-color: rgba(0,0,0,0.8);
        .thumbnail-container { @include transform( scale(1) ); }
      }
    }

  }
  .entry-excerpt {
    &.image-caption { @include animate( transform, 320ms ); @include transform( translateY(100%) ); }
  }

  &:hover {
    .entry-excerpt {
      &.image-caption { @include transform( translateY(0) ); }
    }
  }

}


/*
	Quote Post Format
	------------------------------------------------
*/
.sunset-format-quote {
  .quote-content { font-size: 42px; font-weight: 100; line-height: 1.3em; letter-spacing: 0.03em;
    &:before,
    &:after { content: ''; display: inline-block; position: relative; color: #888; }
    &:before { content: '“'; }
    &:after { content: '„'; }

    @media (max-width: $xs) {
      font-size: 20px;
    }
  }
  .quote-author { color: #898989; font-size: 12px; letter-spacing: 0.06em; margin-top: 10px; margin-block-end: 30px; }
}


/*
	Link Post Format
	------------------------------------------------
*/
.sunset-format-link {
  h1 {
    &.entry-title {
      &:before, &:after { display: none; }
      a {
        display: block;
      }
      .link-icon {
        display: block;
        color: #fff;
        font-size: 30px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.6);
        margin: 0 auto;
        line-height: 1em;
        padding-top: 10px;
      }
    }
  }
}


/*
	Aside Post Format
	------------------------------------------------
*/

.sunset-format-aside {

  .aside-container {
    background-color: rgba(0,0,0,0.05);
    padding-top: 20px;
  }

  .aside-featured {
    width: 136px;
    height: 136px;
    border-radius: 50%;
    margin: 0 auto -20px;
  }

  .entry-meta {
    margin-bottom: 5px;
  }

  .entry-excerpt {
    margin-top: 0;
    p {
      font-size: 15px;
      padding-right: 10px;
    }
  }

  .entry-footer {
    border-bottom: none;
    background-color: rgba(0,0,0,0.05);
    padding-right: 10px;
  }

}

/*
	Footer Section
	------------------------------------------------
*/
.footer {
  background-color: $dark-blue;
  color: $dark-white;
  margin-top: 40px;
  padding-top: 7rem;
  h2 {
    font-weight: bolder;
    letter-spacing: .2rem;
    margin-bottom: 2rem;
  }
  h5 {
    width: fit-content;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .3rem;
    margin-bottom: 2rem;
    &:after {
      content: '';
      display: block;
      border: 1px solid $pink;
      margin-top: .5rem;
    }
  }
  ul li, .social-media-icon {
    .nav-link, .icon-link { color: $dark-white; }
    &:hover, &:focus, &:visited {
      .nav-link, .icon-link {
        color: #fff;
      }
    }
  }
}
.smart-way-footer {
  background-color: $dark-blue;
  color: $dark-white;
  padding: 20px 0;
  a {
    color: $dark-white;
    &:hover { color: $less-dark-blue; }
  }
}

/*
	Ajax Loading
	------------------------------------------------
*/
.container-load-previous {
  margin: 40px auto -40px;
}
.sunset-posts-container {
  padding-top: 40px;
  article {
    @include animate( all, 500ms );
    @include transform( translateY( 50px ) );
    opacity: 0;

    &.reveal {
      @include transform( translateY( 0 ) );
      opacity: 1;
    }
  }
}
.btn-sunset-load {
  display: block;
  width: 200px;
  color: #222;
  font-size: 30px;
  margin: 0 auto;
  cursor: pointer;
  opacity: 0.5;
  @include animate( opacity, 320ms );

  &:hover,
  &:focus,
  &.loading {
    opacity: 1;
  }

  &.loading {
    cursor: default; }

  span {
    display: block; }

}

.spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}


/*
	Archive Page
	------------------------------------------------
*/
.archive-header {
  margin-top: 40px;
}


/*
	Single
	------------------------------------------------
*/

.entry-content {
  margin-top: 40px;
  font-size: 18px;
  letter-spacing: 0.02em;
  font-weight: 300;
  line-height: 1.7em;
  p { margin-bottom: 15px; }
  b, strong {
    font-weight: 500; }

  a,
  .sunset-tooltip,
  .sunset-popover {
    cursor: pointer;
    color: $less-dark-blue;
    &:hover,
    &:focus {
      color: $dark-blue; }
  }
}
.post-link-nav {
  padding: 10px 0;

  a {
    padding: 0 5px;

    &:hover,
    &:focus {
      color: $dark-blue;
    }
  }

}


/*
	Sharing section
	------------------------------------------------
*/
.sunset-shareThis {
  display: block;
  text-align: center;
  border-top: 1px solid #F1F1F1;
  padding-top: 10px;
  clear: both;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li { float: none; display: inline-block; }
  }

  a {
    display: inline-block; font-size: 20px;
    opacity: 0.65; margin: 0 5px; color: #000000;
    &:hover,
    &:focus {
      opacity: 1; color: #000000; }
  }
}


/*
	Comment section
	------------------------------------------------
*/
.comments-area {
  border-top: 4px solid #F1F1F1;
  margin-top: 40px;
}

.last-field { margin-bottom: 50px; }

.comment-list { padding: 0; list-style: none; }

.comment-body { padding-bottom: 0; }

.children {
  background-color: #F5F5F5;
  padding-right: 20px;
  padding-left: 20px;
  list-style: none;
  margin-left: 60px;

  .comment-author {
    &:before {
      background-color: #fff; }
  }

}

.comment-author {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 300;

  &:before {
    position: absolute;
    content: '';
    display: block;
    top: 10px;
    bottom: 13px;
    left: 40px;
    right: 0;
    background-color: #f5f5f5;
    z-index: 1;
    border-radius: 4px;
  }

  & * {
    z-index: 1;
    position: relative;
  }

  b { font-weight: 400; }

  .avatar {
    border-radius: 50%;
    margin-right: 10px;
    border: 3px solid #fff;
  }

}

.comment-metadata {
  text-align: right;
  text-transform: uppercase;
  margin-top: -5px;
  font-size: 12px;
  a {
    color: #999; }
}

.comment-content {
  padding: 20px 0;
  font-size: 16px;
  font-weight: 300;
  border-bottom: 1px solid #E6E6E6;
  margin-left: 60px;
}

.reply {
  text-align: right;
  padding: 5px 0;
}

a.comment-reply-link {
  text-transform: uppercase;
  color: #ff9d1d;

  &:hover,
  &:focus {
    color: #F56B08;
  }
}

.comment-respond {
  margin-top: 60px;
}


/*
	Sidebar section
	------------------------------------------------
*/
//.sunset-sidebar {
//  position: fixed;
//  color: #ffffff;
//  z-index: 9;
//  top: 0;
//  right: 0;
//  bottom: 0;
//  background-color: #1F1F1F;
//  height: 100vh;
//  width: 100%;
//  max-width: 280px;
//  @include animate( transform, 320ms );
//
//  a {
//    color: #bababa;
//
//    &:hover,
//    &:focus {
//      color: #fff;
//    }
//
//  }
//
//}
//
//.sunset-sidebar-container {
//  position: relative;
//  display: block;
//  width: 100%;
//  height: 100vh;
//  padding-top: 40px;
//}
//
//.sidebar-scroll {
//  position: relative;
//  display: block;
//  width: 100%;
//  height: 100%;
//  overflow-x: hidden;
//  overflow-y: scroll;
//}
//
//.sidebar-close,
//.sidebar-open {
//  position: absolute;
//  top: 10px;
//  left: 10px;
//  color: #fff;
//  cursor: pointer;
//
//  &:hover,
//  &:focus {
//    color: $orange-hover;
//  }
//
//}
//
//.sidebar-open {
//  left: auto;
//  right: 20px;
//  top: 20px;
//  font-size: 10px;
//}

/*
	Widgets section
	------------------------------------------------
*/

.sunset-widget {
  margin: 30px 0 50px;
  padding: 0 20px;
  letter-spacing: 0.2px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 0 10px;
    margin-bottom: 10px;
  }

}

h2.sunset-widget-title {
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  background-color: #303030;
  padding: 8px;
  border-radius: 20px;
  line-height: 1em;
  margin-bottom: 20px;
}


// Tags Cloud Widget
.tagcloud {
  text-align: center;
  a {
    display: inline-block;
    background-color: #7D7D7D;
    padding: 1px 9px;
    border-radius: 10px;
    color: #eee;
  }

}

// Categories Widget
.cat-item {
  position: relative;

  a,
  span {
    display: block;
    line-height: 1em;
  }

  a {
    padding: 4px 0;
  }

  span {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 7px 5px;
    background-color: #7D7D7D;
    border-radius: 10px;
  }

}

// Comments Widget
.recentcomments {

  font-size: 10px;
  color: #ccc;

  a {
    text-transform: uppercase;
  }

  span {

    &,
    & a {

      display: block;
      color: #fff;
      font-size: 14px;
      padding-bottom: 4px;
      margin-bottom: 2px;
      border-bottom: 1px solid rgba(255,255,255,0.06);
      text-transform: none;

    }
  }

}

/*
  Contact form
  ------------------------------------------------
*/
.sunset-contact-form {
  padding: 40px 0;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;

  .form-group {
    margin-bottom: 30px;
    position: relative;

    &:before {
      position: absolute;
      display: block;
      content: '';

      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $grey2;
    }

    .form-control-msg {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 10px;
    }

    &.has-error {
      &:before {
        background-color: #a94442;
      }
    }
  }
}

.sunset-form-control {
  resize: vertical;
  border: none;
  border-radius: 0;
  padding: 8px 15px;
  outline: none;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;

  &::-webkit-input-placeholder {
    text-transform: uppercase;
  }

  &::-moz-placeholder {
    text-transform: uppercase;
  }

  &:-ms-placeholder {
    text-transform: uppercase;
  }

  &:-moz-placeholder {
    text-transform: uppercase;
  }

  &:hover,
  &:focus,
  &:active {
    box-shadow: none;
  }
}

.btn-sunset-form {
  @include animate(all, 320ms);

  background-color: $grey;
  border-radius: 2px;
  font-size: 26px;
  padding: 14px 60px;
  color: #fff;
  font-weight: 100;
  border: none;

  &:hover,
  &:focus {
    background-color: $dark-grey;
    color: #fff;
  }
}

.form-control-msg {
  display: none;
}

.has-error {
  .form-control-msg {
    display: block;
  }
}

.js-show-feedback {
  display: block;
}




/*/////////////////////////////////////////////////////////////////////////////////////////
   PLUGIN LIFTER LMS STYLE
/////////////////////////////////////////////////////////////////////////////////////////*/
/*
  Courses Page
  ------------------------------------------------
*/
.custom-main {
  .container-courses-header-image {
    background-image: url("../img/course-header-background.jpg");
    background-size: cover;
  }
  .container-meditations-header-image {
    background-image: url("../img/meditations-header-background.png");
    background-size: cover;
  }
  .container-courses-header-image,
  .container-meditations-header-image {
    width: 100%;
    height: 50vh;
    background-position: center;
    display: flex;
    align-items: center;
    .page-title {
      color: $pink;
      font-weight: 500;
    }
    h5 {
      letter-spacing: .2rem;
      font-weight: 600;
      color: #fff;
    }
  }
  .llms-loop {
    .llms-loop-categories-filter {
      background: $dark-blue;
      h4 { color: #fff; font-size: 1.8rem; }
      h5 { color: $light-orange; font-size: 1.8rem; float: left; }
      i { float: right; color: $light-orange; font-size: 1.4rem; }
      .list-unstyled { clear: both; }
      li {
        .nav-link { color: #fff; font-size: 1.4rem; letter-spacing: .1rem; }
        &:hover, &:visited, &:focus {
          .nav-link { color: $light-orange; }
        }
      }
    }
    .custom-llms-loop-list {
      padding: 5% 10%;
      .sort-courses { color: $pink; display: block;
        i {transform: rotate(90deg);}
      }
      .llms-loop-item {
        width: 100%;
        float: none;
        .llms-loop-item-content {
          background: unset;
          .llms-featured-image { width: 100%; height: 11rem; }
          .llms-loop-title { text-align: center; }
          .llms-loop-item-footer {
            .llms-author, .llms-meta.llms-course-length { display: inline-block; }
            .llms-author { float: left; }
            .llms-meta.llms-course-length { float: right; }
          }
        }
        &.meditations {
          background: $dark-blue;
          &.freeLesson {
            background: $dark-green;
            .meditation-div-title {
              .meditation-title { color: rgb(184 255 226); }
              .meditation-shadow-title { color: rgb(142 180 165 / 56%); }
            }
            .meditation-play {
              background: url(../img/green_play.png) center center no-repeat;
              background-size: contain;
            }
          }
          .llms-loop-item-content { padding-bottom: 0; }
          img.llms-featured-image { display: inline-block; width: 70px; height: 70px; }
          .meditation-div-title {
            font-size: 1.7rem;
            vertical-align: middle;
            margin-left: 1rem;
            .meditation-title { color: $light-orange; }
            .meditation-shadow-title { color: rgb(203 97 20 / 56%); }
          }
          .meditation-play {
            display: inline-block;
            background: url(../img/orange_play.png) center center no-repeat;
            background-size: contain;
            width: 55px;
            height: 55px;
          }
          .llms-loop-link:hover {
            .meditation-title { color: #fff; }
          }
          .llms-progress { display: none; }
        }
      }
    }
    .meditations-topics {
      .meditation-carousel {
        .slick-track { width: 100% !important; }
        .slick-dots { bottom: -50px; }
        @media (max-width: 770px) {
          &.meditation-carousel-5 {
            .slick-track { width: max-content !important; }
          }
        }
        @media (max-width: 900px) {
          &.meditation-carousel-6 {
            .slick-track { width: max-content !important; }
          }
        }
        @media (max-width: 1200px) {
          &.meditation-carousel-7 {
            .slick-track { width: max-content !important; }
          }
        }
        @media (max-width: 1300px) {
          &.meditation-carousel-8 {
            .slick-track { width: max-content !important; }
          }
        }
        @media (max-width: 1400px) {
          &.meditation-carousel-9 {
            .slick-track { width: max-content !important; }
          }
        }
        @media (max-width: 3000px) {
          &.meditation-carousel-10 {
            .slick-track { width: max-content !important; }
          }
        }
      }
      .topic {
        padding: 10px;
        background: rgba(51, 51, 51, 0.94);
        border-radius: 50px;
        text-align: center;
        color: #fff;
        min-height: 11rem;
        .topic-image {
          border-radius: 50%;
          min-height: 130px;
        }
        h5 { margin-top: .5rem; }
        &:hover { background: $less-dark-blue; @include animate( all, 700ms ); }
      }
    }
    .meditation-bottom-section {
      color: #fff;
      p { padding: 6rem 4rem 3rem; margin-bottom: 2rem; }
      p:first-of-type { background: $less-dark-blue; }
      p:last-of-type { background: $pink; }
    }
  }
}










