/*
    ===================================
        MIXIN FUNCTION FOR SASS FILE
    ===================================
*/

@mixin animate ( $attr, $time){
  -webkit-transition: $attr $time ease;
  -moz-transition: $attr $time ease;
  -ms-transition: $attr $time ease;
  -o-transition: $attr $time ease;
  transition: $attr $time ease;
}

@mixin transform( $val ) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  -o-transform: $val;
  transform: $val;
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);}
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@keyframes flashOpacity {
  0% {
    -moz-opacity: 1;
    opacity: 1;
  }
  50% {
    -moz-opacity: .5;
    opacity: .5;
  }
  100% {
    -moz-opacity: 1;
    opacity: 1;
  }
}

@mixin fullwidth() {
  width: 100%;
  height: auto;
}
