/*
    ================================
        VARIABLE FOR SASS FILE
    ================================
*/

$icon-font : 'sunset-icon';
$body-font : 'Raleway', 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;

$dark-blue: #30124E;
$less-dark-blue: #5E239D;
$dark-white: #DCDCDE;
$brown: #B49A4F;
$pink: #F61067;
$green: #3ED598;
$dark-green: #167951;
$light-orange: #F67110;

$primary-color : #000000;
$dark-grey : #333333;
$grey: #656565;
$grey2: #CBCBCB;
$light-grey : #898989;
$lighter-grey : #F1F1F1;
$orange : #ff9d1d;
$orange-hover : #F56B08;


// Media Queries
$xs: 767px;
